* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  .homepage {
    font-family: 'Arial', sans-serif;
    background-color: #cce4fc;
    color: #014791;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom-right-radius: 10rem;
  }

  .features{
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 64px;
    padding: 0;
  }